---
import Banner from '../components/Banner.astro';
import Info from '../components/Info.astro';
import Plans from '../components/Plans.astro';
import Threepics from '../components/Threepics.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div id="espacio-navbar" class="bg-fondo h-24"></div>
	<Banner/>
	<Threepics/>
	<Info/>
	<Plans/>
	
	<div class="text-[#e0e6d8]">
		<div class="h-96 bg-fondo flex flex-col items-center">
			<h2>Estamos en construcción</h2>
			<h1>Gymnasio Costanera</h1>
			<h2>re mil puto el que lee</h2>
		</div>
		<div class="h-96 bg-fondo"></div>
		<div class="h-96"></div>
		<div class="h-96 bg-fondo"></div>
	</div>
</Layout>
