---
import Banner from '../components/Banner.astro';
import Info from '../components/Info.astro';
import Location from '../components/Location.astro';
import Plans from '../components/Plans.astro';
import Threepics from '../components/Threepics.astro';
import TimeTable from '../components/TimeTable.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div id="espacio-navbar" class="bg-fondo h-24"></div>
	<Banner/>
	<Threepics/>
	<Info/>
	<Plans/>
	<section class="bg-fondo py-8">
		<h4 class="text-center text-2xl">espacio para seccion de maquinas</h4>
	</section>
	<TimeTable/>
	<Location/>
	
</Layout>
