---
import Banner from '../components/Banner.astro';
import Info from '../components/Info.astro';
import Location from '../components/Location.astro';
import Plans from '../components/Plans.astro';
import Threepics from '../components/Threepics.astro';
import Maquinas from '../components/maquinas.astro';
import TimeTable from '../components/TimeTable.astro';
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
	<div id="espacio-navbar" class="bg-fondo h-24"></div>
	<Banner/>
	<Threepics/>
	<Info/>
	<Plans/>
	<Maquinas/>
	<TimeTable/>
	<Location/>
	<Contact/>
	
</Layout>
