---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div class="text-[#e0e6d8]">
		<h1>Gymnasio Costanera</h1>
		<h2>Estamos en construccioÌn</h2>
		<h2>ghkojap;lsdjkf;'aj'</h2>
		<div class="h-96"></div>
	</div>
</Layout>
