---
import Layout from "../layouts/Layout.astro"
import { getCollection } from "astro:content"
import type { CollectionEntry } from "astro:content"

const maquinas = await getCollection('maquinas') as CollectionEntry<'maquinas'>[]

console.log (maquinas)
---

<Layout>
    <h1>Maquinas de Gimnasio</h1>
    <div class="maquinas">
        {maquinas.map((maquinas) => (
            <div class="maquina">
                <h2>{maquinas.data.title}</h2>
                <img src="maquinas.data.ing" alt="maquinas.data.title">
                <p>{maquinas.data.description}</p>
                <ul>
                    {Object.entries(maquinas.data.links).map(([name,url])=> (
                    <li>
                        <a href="{url}" target="_blank" rel="noopener noreferrer">name</a>
                    </li>
                    ))}
                </ul>
            </div>
        ))}
    </div>
</Layout>




