
<section class="bg-fondo pt-8">
    <div id="banner" class="max-w-5xl h-52 mx-auto overflow-hidden text-center">
        <h1 class="text-amarillo font-bold mt-6 ">GIMNASIO <br>COSTANERA</h1>
        <h3 class="font-bold mb-8">Raúl Alfonsin antes de Av. Ischigualasto</h3>
        <a class="font-bold px-4 py-3 mt-3 bg-amarillo text-fondo hover:text-white hover:bg-amarillo/80 rounded-md" href="https://wa.me/5492645747131" target="_blank">ASESORATE !!!</a>
    </div>
</section>

<style>
    #banner {
        background-image: url('../../public/banner/banner.webp');
        background-size: cover;
		background-position: center;
        position: relative;
    }

    #banner::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    #banner > * {
        position: relative;
        z-index: 2;
    }
    a {
        font-family: 'gym-bold';
    }
    h1 {
        font-family: 'gym-bold';
    }

</style>