<section class="bg-fondo py-8">
    <h3 class="text-amarillo text-4xl font-bold underline underline-offset-4 text-center mb-2">CONTACTO</h3>
    <div class="max-w-5xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 text-amarillo font-bold">
        <!-- INSTAGRAM -->
        <div class="p-3">
            <h4 class="text-3xl font-bold underline ">Instagram</h4>
            <div class="mt-2 pl-2">
                <div class="flex items-center text-xl space-x-1">
                    <svg  xmlns="http://www.w3.org/2000/svg" class="size-10"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
                    <a href="https://www.instagram.com/costanera.gym/" target="_blank">
                        @gimnasio.costanera
                    </a>
                </div>
                
            </div>
            <div class="mt-2 pl-2">
                <h5>profe 1</h5>
                <div class="flex items-center text-xl space-x-1">
                    <svg  xmlns="http://www.w3.org/2000/svg" class="size-10"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
                    <a href="" target="_blank">
                        @gimnasio.costanera
                    </a>
                </div>
            </div>
            <div class="mt-2 pl-2">
                <h5>profe 2</h5>
                <div class="flex items-center text-xl space-x-1">
                    <svg  xmlns="http://www.w3.org/2000/svg" class="size-10"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
                    <a href="" target="_blank">
                        @gimnasio.costanera
                    </a>
                </div>
            </div>
        </div>




        <!-- whatsapp -->
        <div class=" p-3">
            <h4 class="text-3xl font-bold underline ">WhatsApp</h4>
            <div class="mt-2 pl-2">
                <div class="flex items-center text-xl space-x-1">
                    <svg  xmlns="http://www.w3.org/2000/svg"  class="size-10"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
                    <a href="" target="_blank">
                        264 000-0000
                    </a>
                </div>
            </div>

            <div class="mt-2 pl-2">
                <h5>profe 1</h5>
                <div class="flex items-center text-xl space-x-1">
                    <svg  xmlns="http://www.w3.org/2000/svg"  class="size-10"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
                    <a href="" target="_blank">
                        264 000-0000
                    </a>
                </div>
            </div>
            <div class="mt-2 pl-2">
                <h5>profe 2</h5>
                <div class="flex items-center text-xl space-x-1">
                    <svg  xmlns="http://www.w3.org/2000/svg"  class="size-10"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
                    <a href="" target="_blank">
                        264 000-0000
                    </a>
                </div>
            </div>
        </div>


        <!-- Facebook -->
        <div class="p-3 pl-2">
            <h4 class="text-3xl font-bold underline ">Facebook</h4>
            <div class="mt-2">
                <div class="flex items-center text-xl space-x-1">
                    <svg  xmlns="http://www.w3.org/2000/svg"  class="size-10"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
                    <a href="" target="_blank">
                        Gimnasio Costanera
                    </a>
                </div>
                
            </div>
        </div>



  
    </div>
</section>