<section class="bg-fondo pt-16">
    <div class="max-w-4xl mx-auto h-96 md:flex text-center">
        <div class="md:w-1/2 h-1/2 md:h-auto flex items-center justify-center">
            <h2 class="text-5xl text-amarillo font-bold">CHAU <br> EXCUSAS!!!</h2>
        </div>
        <div class="md:w-1/2 h-1/2 md:h-auto flex items-center justify-center px-8">
            <p class="font-bold">Un gimnasio diseñado para ti: equipos de última generación, entrenadores expertos y un ambiente que te motivará a superar tus límites.</p>
        </div>
    </div>
</section>

<style>
    h2 {
        font-family: 'gym-bold';
    }
</style>