<section class="bg-fondo py-8">
    <h3 class="text-amarillo text-3xl font-bold underline text-center">UBICACION</h3>
    <div class="max-w-xl h-80 mx-auto mt-6 bg-gray-300 ">
        mapa
    </div>
</section>