---
import Logo from "../assets/Logo.astro";
---

<nav class="bg-gray-600 h-20 w-[60%] m-auto flex justify-around rounded-xl fixed left-1/2 transform -translate-x-1/2 ">
    <div class="flex items-center size-20 pt-3">
       <Logo class="pt-2 border"/>
    </div>
    <div class=" flex">
        <ul class="flex items-center">
            <li class="px-6  ">
                <a class="p-3 font-bold hover:text-black transition-all" href="">Inicio</a>
            </li>
            <li class="px-6  ">
                <a class="p-3 font-bold hover:text-black transition-all" href="">Nosotros</a>
            </li>
            <li class="px-6  ">
                <a class="p-3 font-bold hover:text-black transition-all" href="src\pages\maquinas.astro">Maquinas</a>
            </li>
            <li class="px-6  ">
                <a class="p-3 font-bold hover:text-black transition-all" href="">Contacto</a>
            </li>
        </ul>
    </div>
</nav>
