---
---

<section id="plans" class="py-6">
    <div class="max-w-5xl mx-auto">
        <h2 class="text-3xl text-center text-amarillo font-bold py-5 underline underline-offset-4">NUESTROS PLANES</h2>
        <!-- PLANES BOX -->
        <div class="mx-8 sm:mx-0 sm:flex justify-around  mt-4 mb-4">
            <div class="sm:w-1/4 mb-6 bg-amarillo/90 flex flex-col justify-between rounded-md m-2">
                <div class="">
                    <h3 class="text-center text-fondo mt-3 text-3xl font-bold">UNA CLASE</h3>
                    <ul class="mx-6 mt-4 font-bold text-fondo space-y-2">
                        <li><i class="fa-solid fa-check text-green-600"></i> 1 CLASE CUALQUIER DIA</li>
                        <li><i class="fa-solid fa-check text-green-600"></i> CLASES CON COACH</li>
                        <li><i class="fa-solid fa-check text-green-600"></i> CUALQUIER HORARIO</li>
                        
                    </ul>
                </div>
                <div class="text-center mt-12">
                    <p class="text-4xl text-fondo font-bold inline-block mb-2">$3.000</p>
                </div>
            </div>


            <div class="sm:w-1/4 mb-6 bg-amarillo/90 flex flex-col justify-between rounded-md">
                <div class="">
                    <h3 class="text-center text-fondo mt-3 text-3xl font-bold">PASE LIBRE</h3>
                    <ul class="mx-6 mt-4 font-bold text-fondo space-y-2">
                        <li><i class="fa-solid fa-check text-green-600"></i>6 CLASES SEMANALES</li>
                        <li><i class="fa-solid fa-check text-green-600"></i> CLASES CON COACH</li>
                        <li><i class="fa-solid fa-check text-green-600"></i> CUALQUIER HORARIO</li>
                       
                        
                    </ul>
                </div>
                <div class="text-center mt-12">
                    <p class="text-4xl text-fondo font-bold inline-block mb-2">$20.000</p>
                </div>
            </div>

        </div>
        <hr class="border border-amarillo mx-3">
        <h4 class="text-center text-2xl sm:text-4xl mt-4 font-bold text-amarillo">Recibimos todos los metodos de pago.</h4>
    </div>
</section>

<style>
    h3,p{
        font-family: 'gym-bold';
    }   
</style>