---
---

<section class="py-6">
    <div class="max-w-5xl mx-auto">
        <h2 class="text-3xl text-center text-amarillo font-bold py-5 underline">NUESTROS PLANES</h2>
        <!-- PLANES BOX -->
        <div class="mx-8 sm:mx-0 sm:flex justify-around  mt-4 mb-4">
            <div class="sm:w-1/4 mb-6 bg-amarillo/90 flex flex-col justify-between rounded-xl m-2">
                <div class="">
                    <h3 class="text-center text-fondo mt-3 text-3xl font-bold">Basic Plan</h3>
                    <ul class="mx-6 mt-4 font-bold text-fondo space-y-2">
                        <li><i class="fa-solid fa-check text-green-600"></i> 3 pases por semana</li>
                        <li><s><i class="fa-solid fa-xmark text-red-600"></i> Clases con Coach</s></li>
                        <li><i class="fa-solid fa-check text-green-600"></i> sin acompañamiento</li>
                        <li><i class="fa-solid fa-check text-green-600"></i> Tiempo Limitado</li>
                        
                    </ul>
                </div>
                <div class="text-center mt-12">
                    <p class="text-4xl text-fondo font-bold inline-block mb-2">$100</p>
                </div>
            </div>


            <div class="sm:w-1/4 mb-6 bg-amarillo/90 flex flex-col justify-between rounded-xl">
                <div class="">
                    <h3 class="text-center text-fondo mt-3 text-3xl font-bold">Pro Plan</h3>
                    <ul class="mx-6 mt-4 font-bold text-fondo space-y-2">
                        <li><i class="fa-solid fa-check text-green-600"></i> 3 pases por semana</li>
                        <li><s><i class="fa-solid fa-xmark text-red-600"></i> Clases con Coach</s></li>
                        <li><i class="fa-solid fa-check text-green-600"></i> sin acompañamiento</li>
                        <li><i class="fa-solid fa-check text-green-600"></i> Tiempo Limitado</li>
                        
                    </ul>
                </div>
                <div class="text-center mt-12">
                    <p class="text-4xl text-fondo font-bold inline-block mb-2">$999</p>
                </div>
            </div>


            <div class="sm:w-1/4 mb-6 bg-amarillo/90 flex flex-col justify-between rounded-xl m-2">
                <div class="">
                    <h3 class="text-center text-fondo mt-3 text-3xl font-bold">Nazi Plan</h3>
                    <ul class="mx-6 mt-4 font-bold text-fondo space-y-2">
                        <li><i class="fa-solid fa-check text-green-600"></i> 3 pases por semana</li>
                        <li><s><i class="fa-solid fa-xmark text-red-600"></i> Clases con Coach</s></li>
                        <li><i class="fa-solid fa-check text-green-600"></i> sin acompañamiento</li>
                        <li><i class="fa-solid fa-check text-green-600"></i> Tiempo Limitado</li>
                        
                    </ul>
                </div>
                <div class="text-center mt-12">
                    <p class="text-4xl text-fondo font-bold inline-block mb-2">$500</p>
                </div>
            </div>


           
    
        </div>
        <hr class="border border-amarillo mx-3">
        <h4 class="text-center text-2xl sm:text-4xl mt-4 font-bold text-amarillo">Recibimos todos los metodos de pago.</h4>
    </div>
</section>

<style>
    h3,p{
        font-family: 'gym-bold';
    }   
</style>