


<section class="bg-fondo pt-16 ">
    <div class="max-w-5xl mx-auto overflow-hidden flex justify-around">
        <div id="one" class="pic size-28 sm:size-40 md:size-60 flex items-center justify-center">
            <h3 class="sm:text-2xl font-bold">ENERGIA</h3>
        </div>
        <div id="two" class="pic size-28 sm:size-40 md:size-60 flex items-center justify-center">
            <h3 class="sm:text-2xl font-bold">SIN</h3>
        </div>
        <div id="three" class="pic size-28 sm:size-40 md:size-60 flex items-center justify-center">
            <h3 class="sm:text-2xl font-bold">LIMITES</h3>
        </div>
    </div>
</section>


<style>
    #one {
        background-image: url('/threepics/threepics.webp');
    }
    #two {
        background-image: url('/threepics/treepics2.webp');
    }
    #three{
        background-image: url('/threepics/treepics3.webp');
    }
    .pic{
        background-size: cover;
		background-position: center;
        position: relative;
    }
    .pic::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .pic > * {
        position: relative;
        z-index: 2;
    }
    h3{
        font-family: 'gym-bold';
    }
</style>