<section class="bg-fondo py-8">
    <h3 class="text-amarillo text-3xl font-bold underline text-center">HORARIOS</h3>
    <table class="mx-auto max-w-5xl text-center bg-amarillo text-fondo font-bold rounded-xl mt-6">
        <tr>
            <td>HORA</td>
            <td>LUNES</td>
            <td>MARTES</td>
            <td>MIERCOLES</td>
            <td>JUEVES</td>
            <td>VIERNES</td>
            <td>SABADO</td>
            <td>DOMINGO</td>
        </tr>
        <tr>
            <td>8:00 - 12:00</td>
            <td>Profesor <br> Horacio</td>
            <td>Pofesor <br> Enrique</td>
            <td> - </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr >
            <td>12:00 - 18:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr >
            <td>18:00 - 22:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>

    <div class="max-w-xl mx-auto mt-6 flex justify-around text-amarillo font-bold">
        <div class="space-y-2">
            <p>Lunes: 8:00 - 22:00</p>
            <p>Martes: 8:00 - 22:00</p>
            <p>Miercoles: 8:00 - 22:00</p>
            <p>Jueves: 8:00 - 22:00</p>
            <p>Viernes: 8:00 - 22:00</p>
        </div>
        <div class="space-y-2">
            <p>Sabado: 8:00 - 22:00</p>
            <p>Domingo: 8:00 - 22:00</p>
            <p>Feriados: 8:00 - 22:00</p>
        </div>
    </div>
</section>

<style>
    td{
    border: 1px solid #171820;
    padding: .5rem ;
}
</style>