<section class="bg-fondo py-8">
    <h3 class="text-amarillo text-3xl font-bold underline underline-offset-4 text-center">HORARIOS</h3>
    <div class="max-w-2xl mx-auto mt-6 flex flex-col md:flex-row justify-around text-amarillo font-bold">
        <div class="space-y-2 px-6 md:mx-0 mx-auto">
            <p><span>Lunes:</span> 7:00 a 12:00 y 15:00 a 23:00</p>
            <p><span>Martes:</span> 7:00 a 12:00 y 15:00 a 23:00</p>
            <p><span>Miercoles:</span> 7:00 a 12:00 y 15:00 a 23:00</p>
            <p><span>Jueves:</span> 7:00 a 12:00 y 15:00 a 23:00</p>
            <p><span>Viernes:</span> 7:00 a 12:00 y 15:00 a 23:00</p>
        </div>
        <div class="space-y-2 px-6 md:mx-0 mx-auto mt-3 md:mt-0">
            <p><span>Sabado:</span> 7:00hs - 13:00hs</p>
        </div>
    </div>

    <!-- HORARIOS DE PROFESORES -->
    <div class="">
    
        <h3 class="text-amarillo text-3xl font-bold underline underline-offset-4 text-center mt-8">HORARIOS DE PROFESORES</h3>
    
        <table class="mx-auto max-w-5xl text-center bg-amarillo/95 text-fondo font-bold rounded-md mt-6 hidden md:table">
            <tr>
                <td>HORA</td>
                <td>LUNES</td>
                <td>MARTES</td>
                <td>MIERCOLES</td>
                <td>JUEVES</td>
                <td>VIERNES</td>
                <td>SABADO</td>
            </tr>
            <tr>
                <td>7:00 - 12:00</td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td>Profesor <br><span>El Tano</span></td>
            </tr>
            <tr >
                <td>15:00 - 23:00</td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td>Profesor <br><span>El Tano</span></td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td>Profesor <br><span>El Tano</span></td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td> <span>-</span> </td>
            </tr>

        </table>


        <table class="mx-auto text-center bg-amarillo/95 text-fondo font-bold rounded-xl mt-6 md:hidden ">
            <tr>
                <td>HORA</td>
                <td>7:00 - 12:00</td>
                <td>15:00 - 23:00</td>
            </tr>
            <tr>
                <td>LUNES</td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
            </tr>
            <tr >
                <td>MARTES</td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td>Profesor <br><span>El Tano</span></td>
            </tr>
            <tr >
                <td>MIERCOLES</td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
            </tr>
            <tr >
                <td>JUEVES</td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td>Profesor <br><span>El Tano</span></td>
            </tr>
            <tr >
                <td>VIERNES</td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
                <td>Profesor <br><span>Alejandro Carrizo</span></td>
            </tr>
            <tr >
                <td>SABADO</td>
                <td>Profesor <br><span>El Tano</span></td>
                <td> - </td>
            </tr>
    
        </table>
    </div>

</section>

<style>
    td{
    border: 1px solid #171820;
    padding: .5rem ;
}
span{
    font-family: "gym-bold";
}
</style>