---
import Navbar from '../components//Navbar.astro';
import Footer from '../components/Footer.astro';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="title" content="GYM COSTANERA">
		<meta name="description" content="GIMNASIO COSTANERA. Variedad de maquinas y ejercicios, los mejores profesionales para ayudarte en lo que necesites.">
		<meta name="keywords" content="Gym, Gimnasio, Gimnasio en valle fertil, Gimnasio en villa san agustin, gimnasio costanera">
		<meta name="author" content="Maximiliano Burgoa & Marcos Vargas">
		<link rel="icon" type="image/svg+xml" href="/logo.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>GYM COSTANERA</title>
		<script src="https://kit.fontawesome.com/be5e200109.js" crossorigin="anonymous"></script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZSQEMPL82Q"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-ZSQEMPL82Q');
		</script>
	</head>
	<body class="relative">
		<Navbar/>
			<slot />
		<Footer/>
	</body>
</html>

<style>
	@font-face{
		font-family: 'gym';
		src: url('../../public/font/GothamBook.ttf');
	}
	@font-face{
		font-family: 'gym-bold';
		src: url('../../public/font/GothamMedium.ttf');
	}
	html,
	body {
		font-family: 'gym';
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #171820;
		color: white;
		background-image: url('../assets/fondo/fondo-asfalto-oscuro.webp');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		scroll-behavior: smooth;
		scroll-padding-top: 75px;
	}
</style>
